.pic1 {
    width: 35%;
    margin: 2%;
    border-radius: 10px;
}

.pic2 {
    width: 35%;
    margin: 2%;
    border-radius: 10px;
}

.pic3 {
    width: 35%;
    margin: 2%;
    border-radius: 10px;
}

.pic4 {
    width: 35%;
    margin: 2%;
    border-radius: 10px;
}